$menu-width: 200px;

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  height: 100%;
}

a {
  &:focus {
    outline: none;
  }
}

// 페이지의 틀 정리
.fullpage-wrapper {

}

.fullpage {
  padding: 50px;

  [data-page-content] {
    //transition: all 0.5s ease-in-out;
    //-webkit-transition: all 0.5s ease-in-out;
    //opacity: 0;
  }
  &.focused {
    [data-page-content] {
      //opacity: 1;
      // display: block;
    }
  }
}

// 페이지의 메뉴 공통 스타일
.side-nav {
  z-index: 1000;
  position: fixed;
  left: 30px;
  top: 0;

  //width: $menu-width;
  height: 100%;
  margin: 0;
  border-radius: 0;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  .nav-container {
    padding: 10px 20px;
    background: #000;
    border-radius: 30px;
    background: rgba(52, 52, 52, 0.9);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;

    .item {
      cursor: pointer;
      .label {
        display: none;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;

        transform: translateX(-10px);
        opacity: 0;
      }
    }
    &:hover {
      padding: 30px 50px 30px 30px;
      // transform: translateX(-20px);
      border-radius: 10px;

      .item {
        .label {
          display: block;
          transform: translateX(0px);
          opacity: 1;
        }
      }
    }
  }

  $item-height: 30px;
  $item-dot-size: 12px;
  $item-key-color: #ff4546;
  .item {
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    color: #fff;
    font-size: 15px;
    border: 1px solid transparent;
    border-radius: 7px;
    font-family: $heading-font-family;
    //text-shadow: 1px 1px 3px #000000;
    line-height: 1em;
    font-weight: 700;

    .dot {
      transition: all 0.3s ease-in-out;
      content: ' ';
      display: block;
      width: $item-dot-size;
      height: $item-dot-size;
      background: transparent;
      border: 2px solid #fff;
      border-radius: 50%;
      float: left;
    }
    .label {
      margin-left: 0.5em;
    }

    &.active {
      .dot {
        border: 2px solid $item-key-color;
        background: $item-key-color;
        transform: scale(1.2, 1.2);
      }
    }
    &.focused {
      color: $item-key-color;
      .dot {
        background: $item-key-color;
        transform: scale(1.2, 1.2);
      }
    }
    &:hover {
      color: $item-key-color;
      .dot {
        border: 2px solid $item-key-color;
      }
    }

  }
}

.aside-nav {
  z-index: 1000;
  position: fixed;
  right: 30px;
  top: 0;

  height: 100%;
  margin: 0;
  border-radius: 0;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;

  .nav-container {
    padding: 5px 10px;
    background: #000;
    border-radius: 30px;
    background: rgba(52, 52, 52, 0.9);

    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transform: translateX(0px);

    .item {
      cursor: pointer;
      .label {
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;

        transform: translateX(10px);
        opacity: 0;
        display: none;
      }
    }

    &:hover {
      transform: translateX(20px);
      padding: 10px 20px;
      border-radius: 10px;

      .item {
        .label {
          transform: translateX(0px);
          opacity: 1;
          display: block;
        }
      }
    }
  }

  .item {
    font-size: 24px;
    height: 50px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    .label {
      font-size: 14px;
      margin-right: 0.5em;
    }
  }

}

// 페이지의 내용 공통 스타일
[data-page-content] {
  position: relative;

  h1 {
    font-size: 55px;
    font-weight: 600;
    // font-family: $heading-font-family;
    margin-bottom: 0.5em;
  }

  p {
    font-size: 18px;
    &.large {
      font-size: 22px;
    }
    &.small {
      font-size: 0.8em;
    }
  }
}

// ! 개별 페이지별 정의는 scss/pages/... 아래 있는 파일 이용하여 스타일 해야함.
.page-footer {
  background-color: #000;
  background-image: url($assets-image-path + 'bg-footer.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;

  height: 490px;
  padding: 100px 0 0 100px;


  .logo{
    font-size: 40px;
    margin-bottom: 20px;
  }
  h3{
    margin-bottom: 5px;
    font-family: $heading-font-family;
  }
  p{
    font-size: 14px;
    color: #FFFFFF;
    line-height: 24px;
    font-weight: 300;
    margin-bottom: 0.5em;
  }
}



