.page-company-vision {
  color: #444;

  &.fullpage {
    background-color: #fff;
    background-image: url($assets-image-path + 'bg-companyVision.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    // background-size: contain;
    padding: 100px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  [data-page-content] {

    .ui.container {
      padding: 0 100px;
    }

    article {
      max-width: 800px;
      margin: 0 auto;
      display: block;
      background: rgba(0, 0, 0, 0.8);
      padding: 30px 40px;
      text-align: left;
      box-shadow: 0 2px 20px 6px #ffc6c6;
    }

    h1 {
      font-family: $heading-font-family;
      font-size: 18px;
      color: #FF344D;
      letter-spacing: 1.84px;
      line-height: 27px;
    }
    h2 {
      font-size: 45px;
      color: #fff;
      letter-spacing: 1px;
      line-height: 54px;
      font-weight: 500;
      //text-shadow: -1px 1px 1px #ff6161;
    }
    p {
      font-size: 22px;
      color: #ccc;
    }
  }
}


/**
모바일 디자인
 */
@include media-mobile{
  .page-company-vision{
    &.fullpage {
      padding: 50px 0;
    }

    [data-page-content] {

      .ui.container {
        padding: 0 10px;
      }

      article {
        max-width: 600px;
        margin: 0 auto;
        display: block;
        background: rgba(0, 0, 0, 0.8);
        padding: 30px 40px;
        text-align: left;
        box-shadow: 0 2px 20px 6px #ffc6c6;
      }

      h1 {
        font-size: 18px;
        color: #FF344D;
        letter-spacing: 1.84px;
        line-height: 20px;
      }
      h2 {
        font-size: 24px;
        line-height: 30px;
      }
      p {
        font-size: 18px;
      }
    }
  }
}