.page-company-SQLGate {
  color: #444;

  &.fullpage {
    background-color: #f6f6f6;
    background-image: url($assets-image-path + 'bg-companySQLGate.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: right top;

    padding: 0;
  }

  [data-page-content] {
    .key-box{
      padding: 150px;
      min-height: 500px;
    }
    .features-box{
      background: rgba(255, 255, 255, 0.5);
      min-height: 500px;
    }
    .client-box{
      background: rgba(255, 255, 255, 0.7);
      min-height: 500px;
    }
  }
}