.page-company {
  text-align: center;
  overflow: hidden;

  &.fullpage {
    background-color: #000;
    background-image: url($assets-image-path + 'bg-company.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
  }

  .chequer-logo {
    font-size: 35px;
    position: absolute;
    top: 40px;
    left: 50%;
    margin-left: - (163.97px / 2);
    text-shadow: 2px 2px 5px #000000;

    @include fadeInDown($duration: 1s, $delay: 0.5s);
  }

  table {
    width: 100%;
    height: 100%;
    td {
      vertical-align: middle;
    }
  }

  [data-page-content] {

    padding: 100px 0;

    .circles {
      color: #FF344D;
      font-size: 12px;
      margin-bottom: 15px;
      text-shadow: 2px 2px 5px #000000;
      span {
        margin: 5px;
      }
    }
    .h1Label {
      font-size: 22px;
      color: #FF344D;
      letter-spacing: 2px;
      line-height: 30px;
      text-shadow: 2px 2px 5px #000000;
      margin: 0;
      font-weight: 600;
    }
    h1 {
      margin-top: 0;
      text-shadow: 2px 2px 5px #000000;
      letter-spacing: 0;
      margin-bottom: 0;
    }
    p {
      font-size: 20px;
      font-weight: 300;
      text-shadow: 2px 2px 5px #000000;
      color: #ccc;
      letter-spacing: 1px;
    }

    article {
      max-width: 650px;
      margin: 10px auto;
      //font-family: $heading-font-family;
    }
    .btn-wrap {
      margin-top: 5em;
      .ui.button {
        border-radius: 25px;
        /* btn-shape: */
        background-image: linear-gradient(90deg, #FF344D 0%, #881919 100%);
        box-shadow: 0 2px 30px 0 #000000;
      }
    }

    .hiring {
      max-width: 630px;
      width: 100%;
      margin: 0 auto 80px;
      cursor: pointer;

      img {
        max-width: 150px;
        width: 100%;
      }

      a {
        display: block;
        font-size: 26px;
        text-decoration: underline;
        -webkit-transition: color 0.1s ease;
        transition: color 0.1s ease;
      }

      &:hover {
        a {
          color: #FF344D;
          -webkit-transition: color 0.1s ease;
          transition: color 0.1s ease;
        }
      }
    }

    #whr_embed_hook {
      padding-bottom: 100px;
      position: relative;

      ul {
        -webkit-padding-start: 0px;
      }
      ul, li {
        list-style: none;
      }
      .whr-group {
        display: inline-block;
        padding: 0 15px;
        font-size: 18px;
        font-weight: 300;

        &.whr-active {
          color: #ffffff;
          font-weight: 700;
        }
      }
      .whr-items {
        position: absolute;
        left:0;
        right:0;
        bottom: 15px;
        margin: 0 15px;
      }
      .whr-item {
        display: inline-block;
        background-color: #232323;
        padding: 10px;
        max-width: 630px;
        width: 100%;
        border-radius: 3px;

        .whr-title {
          line-height: 1.92;
          font-weight: 400;
          font-size: 14px;
          margin-bottom: 4px;
        }

        li {
          display: inline-block;
          font-size: 12px;
          font-weight: 300;
          line-height: 1.92;
          text-align: center;
          color: #ffffff;

          &.whr-date {
            display: none;
          }
          span {
            display: none;
          }
        }
      }
      .whr-title {
        a {
          //color: #FF344D;
        }
      }
    }
  }

  .footer {
    font-size: 35px;
    position: absolute;
    bottom: 40px;
    left: 50%;
    margin-left: -17.5px;
    margin-top: 2em;
    text-shadow: 2px 2px 5px #000000;
    cursor: pointer;

    @include flash($duration: 1s, $delay: 1s);

    &:hover {
      color: #FF344D;
      // @include rubberBand($duration: 1s, $delay: 0s, $count: 1);
    }
  }
}

/**
모바일 디자인
 */
@include media-mobile {
  .page-company {
    .chequer-logo {
      display: none;
    }

    [data-page-content] {
      .h1Label {
        font-size: 20px;
      }
      h1 {
        font-size: 35px;
        margin-bottom: 0.5em;
      }
      p {
        font-size: 16px;
      }
      article {

      }
      .btn-wrap {
        .ui.button {

        }
      }
    }

    .footer {
      position: static;
      left: auto;
      bottom: auto;
    }
  }
}