.page-company {
  text-align: center;
  overflow: hidden;

  &.fullpage {
    background-color: #000;
    background-image: url($assets-image-path + 'bg-company.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    padding: 0;
  }

  .chequer-logo {
    font-size: 30px;
    // position: absolute;
    // top: 40px;
    // left: 50%;
    // margin-left: - (163.97px / 2);
    margin: 0 auto;
    padding: 40px 0;
    text-shadow: 2px 2px 5px #000000;

    @include fadeInDown($duration: 1s, $delay: 0.5s);
  }

  table {
    width: 100%;
    height: 100%;
    td {
      vertical-align: middle;
    }
  }

  [data-page-content] {
    padding: 50px 0;

    .circles {
      color: #FF344D;
      font-size: 12px;
      margin-bottom: 15px;
      text-shadow: 2px 2px 5px #000000;
      span {
        margin: 5px;
      }
    }

    h1 {
      margin-top: 0;
      letter-spacing: 1.5px;
      margin-bottom: 0;
      color: #ffffff;
      font-size: 50px;
      b{
        display: block;
        color: #FF344D;
      }
    }
    p {
      font-size: 20px;
      font-weight: 300;
      text-shadow: 2px 2px 5px #000000;
      color: #ccc;
      letter-spacing: 1px;
    }

    article {
      max-width: 650px;
      margin: 1.2em auto 4em;
      //font-family: $heading-font-family;
    }

    .h1Label {
      font-size: 16px;
      color: #FF344D;
      letter-spacing: 1.5px;
      line-height: 24px;
      margin: 0;
      font-weight: 600;
    }

    .btn-wrap {
      margin-top: 25px;
      .ui.labeled.icon.buttons .button, .ui.labeled.icon.button{
        padding-left: 4.5em !important;
        padding-right: 1.2em !important;
        padding-top: 1em;
        padding-bottom: 1em;
        font-weight: 500;
        .chi-right{
          margin-left: 20px;
        }
      }

      .btn1{
        background: #5959f0;
        color: #fff;
        > .icon{
          box-shadow: none;
          background-color: transparent;
          border-right: 1px solid #4847C0;
          font-size: 1.3em;
        }
      }
      .btn2{
        margin-left: 1em;
        background: #2bbb9b;
        color: #fff;
        > .icon{
          box-shadow: none;
          background-color: transparent;
          border-right: 1px solid #20957C;
          font-size: 1.3em;
        }
        
      }
    }

    .hiring {
      max-width: 630px;
      width: 100%;
      margin: 0 auto 4em;
      cursor: pointer;

      img {
        max-width: 150px;
        width: 100%;
      }

      a {
        display: block;
        font-size: 18px;
        text-decoration: none;
        font-style: italic;
        -webkit-transition: color 0.1s ease;
        transition: color 0.1s ease;
        font-weight: 600;
        letter-spacing: 1.5px;
      }

      span.chi-right{
        color: #FF344D;
      }

      &:hover {
        a {
          color: #FF344D;
          -webkit-transition: color 0.1s ease;
          transition: color 0.1s ease;
        }
      }
    }

    #whr_embed_hook {
      padding-bottom: 100px;
      position: relative;

      ul {
        -webkit-padding-start: 0px;
      }
      ul, li {
        list-style: none;
      }
      .whr-group {
        display: inline-block;
        padding: 0 15px;
        font-size: 18px;
        font-weight: 300;

        &.whr-active {
          color: #ffffff;
          font-weight: 700;
        }
      }
      .whr-items {
        position: absolute;
        left:0;
        right:0;
        bottom: 15px;
        margin: 0 15px;
      }
      .whr-item {
        display: inline-block;
        background-color: #232323;
        padding: 10px;
        max-width: 630px;
        width: 100%;
        border-radius: 3px;

        .whr-title {
          line-height: 1.92;
          font-weight: 400;
          font-size: 14px;
          margin-bottom: 4px;
        }

        li {
          display: inline-block;
          font-size: 12px;
          font-weight: 300;
          line-height: 1.92;
          text-align: center;
          color: #ffffff;

          &.whr-date {
            display: none;
          }
          span {
            display: none;
          }
        }
      }
      .whr-title {
        a {
          //color: #FF344D;
        }
      }
    }
  }

  .footer {
    font-size: 35px;
    // position: absolute;
    // bottom: 40px;
    // left: 50%;
    // margin-left: -17.5px;
    // margin-top: 2em;
    margin: 0 auto;
    padding: 40px 0;
    text-shadow: 2px 2px 5px #000000;
    cursor: pointer;

    @include flash($duration: 1s, $delay: 1s);

    &:hover {
      color: #FF344D;
      // @include rubberBand($duration: 1s, $delay: 0s, $count: 1);
    }
  }
}

/**
모바일 디자인
 */
@include media-mobile {
  .page-company {

    table {
      thead{
        td {
          height: 50px;
        }
      }
    }

    .chequer-logo {
      display: none;
    }

    [data-page-content] {
      padding: 20px 10px;
      .h1Label {
        font-size: 14px;
      }
      h1 {
        font-size: 25px;
        margin-bottom: 0.5em;
      }
      p {
        font-size: 14px;
        margin-left: 1em;
        margin-right: 1em;
      }

      .btn-wrap {
        .ui.button {
            width: 80%;
            margin: 10px 0;
        }
      }


    .hiring {
      margin: 0 auto 3em;
      cursor: pointer;

      img {
        max-width: 100px;
        width: 100%;
      }
    }

    }

    .footer {
      position: static;
      left: auto;
      bottom: auto;
      padding: 10px 0;
    }
  }
}