.page-contact {
  color: #444;

  &.fullpage {
    background-color: #FAFAFA;
    padding: 100px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  [data-page-content] {


    .ui.container{
      padding: 0 100px;
    }

    h1 {
      font-family: $heading-font-family;
      font-size: 36px;
      letter-spacing: 3.67px;
      line-height: 27px;
    }

    .ui.card {
      box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.30);

      border: 0 none;
      background: #fff;
      border-radius: 0;
      margin-bottom: 2rem;

      :first-child {
        border-radius: 0 !important;
      }

      .content {
        padding: 20px;
        .header {
          font-family: $heading-font-family;
          span {
            color: #cc1f1f;
          }
        }
      }
      .extra {
        color: #444;

        a {
          color: #111;
        }
      }
    }
  }
}




/**
모바일 디자인
 */
@include media-mobile{
  .page-contact{
    &.fullpage {
      padding: 100px 0;
    }

    [data-page-content] {
      .ui.container{
        padding: 0;
      }

      .ui.card {
        margin-bottom: 0;
      }
    }
  }
}