$icons-font-path: '../plugins/semantic-ui-scss/icons/';
$flags-image-path: '../plugins/semantic-ui-scss/images/';
$assets-image-path: '../assets/images/';

//Font
$body-font-size: 14px;
$import-google-fonts: true;
$font-url: 'https://fonts.googleapis.com/css?family=Montserrat';
$font-name: 'Roboto';
$font-family: $font-name, sans-serif;
$heading-font-family: 'Montserrat', sans-serif;

// Colors
// Body
$body-bg-color: #111;
$body-font-color: #fff;

//Font
$font-color: #fff;
$secondary-font: #f2f2f2;

//links Variables
$a-font-color: #fff;
$a-hover-font-color: #ff4546;

//Primary
$primary-color: #fff;
$primary-color--hover: #FF344D;
$primary-color--focus: #FF344D;
$primary-color--active: #FF344D;
$primary-color-active: #FF344D;
$primary-color-active--active: #FF344D;

//Secondary
$secondary-color: #1B1C1D;
$secondary-color--hover: #27292a;
$secondary-color--focus: #2e3032;
$secondary-color--active: #343637;
$secondary-color-active: #27292a;
$secondary-color-active--active: #27292a;

//Default
$default-color: #E0E1E2;
$default-font-color: #rgba (0, 0, 0, 0.6);
$default-color--active: #BABBBC;
$default-font-color--active: #rgba (0, 0, 0, 0.9);
$default-color--hover: #CACBCD;
$default-font-color--hover: #rgba (0, 0, 0, 0.8);
$default-color--focus: #CACBCD;
$default-font-color--focus: #rgba (0, 0, 0, 0.8);
$default-active-color: #C0C1C2;
$default-active-font-color: #rgba (0, 0, 0, 0.95);
$default-active-color--active: #C0C1C2;
$default-active-color--hover: #C0C1C2;
$default-active-font-color--hover: #rgba (0, 0, 0, 0.95);
$default-active-color--focus: #BABBBC;
$default-active-font-color--focus: #rgba (0, 0, 0, 0.9);

//Basic
$red: #DB2828;
$orange: #F2711C;
$yellow: #FBBD08;
$olive: #B5CC18;
$green: #21BA45;
$teal: #00B5AD;
$blue: #2185D0;
$violet: #6435C9;
$purple: #A333C8;
$pink: #E03997;
$brown: #A5673F;
$grey: #767676;
$white: #FFFFFF;
$inverted-label: rgba(255, 255, 255, 0.9);
$inverted-red: #FF695E;
$inverted-orange: #FF851B;
$inverted-yellow: #FFE21F;
$inverted-olive: #D9E778;
$inverted-green: #2ECC40;
$inverted-teal: #6DFFFF;
$inverted-blue: #54C8FF;
$inverted-violet: #A291FB;
$inverted-purple: #DC73FF;
$inverted-pink: #FF8EDF;
$inverted-brown: #D67C1C;
$inverted-grey: #DCDDDE;

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ import
@import '../plugins/semantic-ui-scss/scss/variables/global';
@import '../plugins/semantic-ui-scss/scss/mixins/mix';

@import '../plugins/semantic-ui-scss/scss/globals/reset';
@import '../plugins/semantic-ui-scss/scss/globals/site';

@import '../plugins/semantic-ui-scss/scss/elements/button';
// @import '../plugins/semantic-ui-scss/scss/elements/container';
.ui {
  &.container {
    display: block;
    max-width: 100% !important;
  }
  &.text.container {
    font-family: $font-family;
    max-width: 700px !important;
    line-height: 1.5;
    font-size: 1.14285714rem;
  }
  &.fluid.container {
    width: 100%;
  }
  &[class*="left aligned"].container {
    text-align: left;
  }
  &[class*="center aligned"].container {
    text-align: center;
  }
  &[class*="right aligned"].container {
    text-align: right;
  }
  &.justified.container {
    text-align: justify;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
  }
}

/* Mobile */
@media only screen and (max-width: 767px) {
  .ui {
    &.container {
      width: auto !important;
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
    &.grid.container, &.relaxed.grid.container, &.very.relaxed.grid.container {
      width: auto !important;
    }
  }
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .ui {
    &.container {
      width: 100%;
      margin-left: auto !important;
      margin-right: auto !important;
    }
    &.grid.container {
      width: calc( 723px  +  2rem ) !important;
    }
    &.relaxed.grid.container {
      width: calc( 723px  +  3rem ) !important;
    }
    &.very.relaxed.grid.container {
      width: calc( 723px  +  5rem ) !important;
    }
  }
}

/* Small Monitor */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .ui {
    &.container {
      width: 100%;
      margin-left: auto !important;
      margin-right: auto !important;
    }
    &.grid.container {
      width: calc( 933px  +  2rem ) !important;
    }
    &.relaxed.grid.container {
      width: calc( 933px  +  3rem ) !important;
    }
    &.very.relaxed.grid.container {
      width: calc( 933px  +  5rem ) !important;
    }
  }
}

/* Large Monitor */
@media only screen and (min-width: 1200px) and (max-width: 1339px) {
  .ui {
    &.container {
      width: 100%;
      margin-left: auto !important;
      margin-right: auto !important;
    }
    &.grid.container {
      width: calc( 1127px  +  2rem ) !important;
    }
    &.relaxed.grid.container {
      width: calc( 1127px  +  3rem ) !important;
    }
    &.very.relaxed.grid.container {
      width: calc( 1127px  +  5rem ) !important;
    }
  }
}

/* XLarge Monitor */
@media only screen and (min-width: 1340px) {
  .ui {
    &.container {
      width: 1337px;
      margin-left: auto !important;
      margin-right: auto !important;
    }
    &.grid.container {
      width: calc( 1337px  +  2rem ) !important;
    }
    &.relaxed.grid.container {
      width: calc( 1337px  +  3rem ) !important;
    }
    &.very.relaxed.grid.container {
      width: calc( 1337px  +  5rem ) !important;
    }
  }
}



@import '../plugins/semantic-ui-scss/scss/elements/divider';
// @import '../plugins/semantic-ui-scss/scss/elements/flag';
@import '../plugins/semantic-ui-scss/scss/elements/header';
@import '../plugins/semantic-ui-scss/scss/elements/icon';
@import '../plugins/semantic-ui-scss/scss/elements/image';
@import '../plugins/semantic-ui-scss/scss/elements/input';
@import '../plugins/semantic-ui-scss/scss/elements/label';
// @import '../plugins/semantic-ui-scss/scss/elements/list';
// @import '../plugins/semantic-ui-scss/scss/elements/loader';
// @import '../plugins/semantic-ui-scss/scss/elements/rail';
// @import '../plugins/semantic-ui-scss/scss/elements/reveal';
@import '../plugins/semantic-ui-scss/scss/elements/segment';
// @import '../plugins/semantic-ui-scss/scss/elements/step';

// @import '../plugins/semantic-ui-scss/scss/collections/breadcrumb';
// @import '../plugins/semantic-ui-scss/scss/collections/form';
@import '../plugins/semantic-ui-scss/scss/collections/grid';
@import '../plugins/semantic-ui-scss/scss/collections/menu';
// @import '../plugins/semantic-ui-scss/scss/collections/message';
@import '../plugins/semantic-ui-scss/scss/collections/table';

// @import '../plugins/semantic-ui-scss/scss/views/ad';
@import '../plugins/semantic-ui-scss/scss/views/card';
// @import '../plugins/semantic-ui-scss/scss/views/comment';
// @import '../plugins/semantic-ui-scss/scss/views/feed';
// @import '../plugins/semantic-ui-scss/scss/views/item';
// @import '../plugins/semantic-ui-scss/scss/views/statistic';

// @import '../plugins/semantic-ui-scss/scss/modules/accordion';
// @import '../plugins/semantic-ui-scss/scss/modules/checkbox';
// @import '../plugins/semantic-ui-scss/scss/modules/dimmer';
// @import '../plugins/semantic-ui-scss/scss/modules/dropdown';
// @import '../plugins/semantic-ui-scss/scss/modules/embed';
// @import '../plugins/semantic-ui-scss/scss/modules/modal';
// @import '../plugins/semantic-ui-scss/scss/modules/nag';
// @import '../plugins/semantic-ui-scss/scss/modules/popup';
// @import '../plugins/semantic-ui-scss/scss/modules/progress';
// @import '../plugins/semantic-ui-scss/scss/modules/rating';
// @import '../plugins/semantic-ui-scss/scss/modules/search';
// @import '../plugins/semantic-ui-scss/scss/modules/shape';
// @import '../plugins/semantic-ui-scss/scss/modules/sidebar';
// @import '../plugins/semantic-ui-scss/scss/modules/sticky';
// @import '../plugins/semantic-ui-scss/scss/modules/tab';
// @import '../plugins/semantic-ui-scss/scss/modules/transition';
// @import '../plugins/semantic-ui-scss/scss/modules/video';

// ~~~~~~~
// Always required
@import "../plugins/animatewithsass/_properties";
@mixin clear-animation(){
  @include animation-name(none);
}

// Import the animations
@import "../plugins/animatewithsass/_attention-seekers/attention-seekers";
@import "../plugins/animatewithsass/_fading-entrances/fading-entrances";
@import "../plugins/animatewithsass/_bouncing-entrances/bouncing-entrances";
@import "../plugins/animatewithsass/_zooming-entrances/zooming-entrances";

@import "inc/font-roboto";
@import "inc/font-montserrat";
@import "../plugins/chequer-io-icon/style.scss";
@import "inc/animate-icon";
@import "inc/layout";
@import "pages/index";
@import "inc/google-map";